/* This is the main CSS file for the 1st milestone project - Inner Balance*/

/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Fleur+De+Leah&family=Island+Moments&family=MonteCarlo&family=Poiret+One&display=swap');

/* css variables */
:root {

  --primary-font: "Fleur De Leah", cursive;
  --secondary-font: "Poiret One", sans-serif;

  --primary-color: rgb(205, 170, 106);
  --secondary-color: rgba(205, 170, 106, 0.947);
  --tertiary-color: ;
  --highlight-color: ;
}

/* ------------------------------------------ Global styles -------------------------------------------*/
.container-fluid {
  padding: 0%;
}

body {
  background-color: var(--primary-color)
}

h1 {
  font-family: var(--primary-font);
  font-size: 10rem;
}

h1,
h2,
h3,
h4,
h5,
p,
li 
{
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 1000;
  font-size: larger;
}

h2 {
  font-size: 3em;
}

.section {
  padding-top: 4rem;
}

#title {
  font-size: 4.5rem;
  font-family: var(--primary-font);
}

p {
  padding: 20px;
}

/* ---------------------------------------------------nav--------------------------------------------------- */
/* ----navbar---- */
.navbar {
  position: fixed;
  padding: 0;
  height: 70px;
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav {
  background-color: rgb(153, 105, 88);
}

#nav-menu {
  background-color: var(--secondary-color);
  /* border-color: black;
  border-width: px; */
} 

#menu-button {
  background-color: var(--secondary-color);
  color: black;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 1000;
  font-size: larger;
}


/* --------------------------------------------------Header --------------------------------------------------*/
#header .container-fluid {
  height: 550px;
  /* padding: 30px 0 0 0; */
}

#header {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("assets/images/hero-image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top:70px; */
}

#hero {
  width: 100%;
  position: relative;
  background: url(assets\images\hero-image1.jpg) no-repeat center center/cover;
  background-size: cover;
}

#hero-image {
  width: 100%;
  object-fit: cover;
  height: 550px;
}

#hero-title {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.slogan {
  font-family: var(--secondary-font);
  font-size: larger;
  position: absolute;
  top: 170%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  min-width: 12em;
}

/* ------------------------------------------main section --------------------------------------------------- */

main {
  padding-top: 40px;
}

/* ----------------------------------------------------Links------------------------------------------------------ */

#page-links .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* -----------------------------------------------------info cards------------------------------------------------- */

.card-title {
  padding-bottom: 10px;
}

#info-card {
  height: 100%;
}

.info-card {
  margin-bottom: 1.5em;
}

#under-construction {
  display:block;
  margin:auto;
}

.btn-primary{
  display:block;
  margin:auto;
  background-color: rgb(165, 97, 42);
  /* background-color: var(--secondary-color); */
  color: black;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 1000;
  font-size: larger;
}
/* ------------------------------------------------------Footer---------------------------------------------------------- */


/*---------------------------------------------------- Media Queries------------------------------------------------ */

/* Medium devices (tablets, 768px and up */
@media screen and (min-width: 768px) {

  /* makes all service cards the same height for consistency */

}

/* Large devices (small laptops, 992px and up */
@media screen and (min-width: 992px) {

  /* makes all service cards the same height for consistency */

}

/* Extra large devices (large laptops, 1200px and up */
@media screen and (min-width: 1200px) {

  /* makes all service cards the same height for consistency */

}

/* Extra extra large devices (large laptops, 1400px and up */
@media screen and (min-width: 1400px) {

  /* makes all service cards the same height for consistency */

}